<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    # <%= link_to "Cinematograf", root_url, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Filme", root_url %></li>
        <% if logged_in? %>
          <li>
                <%= link_to "Log out", 'logout', method: "delete" %>
          </li>
        <% else %>
          <li><%= link_to "Admin Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>